html(lang="en")
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css")
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    style
      include style.css
  body
    nav(class="navbar navbar-light navbar-expand-lg red")
      a.navbar-brand(href="#") <i class="far fa-futbol"></i>World Cup Standings
      .collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href="/static/script.txt") SalaryCalculations
          li.nav-item
            a.nav-link(href="/static/odds.csv") Odds
    .container
      .row
        .col-6
          img.img-thumbnail.rounded(src="http://a1.espncdn.com/combiner/i?img=%2Fphoto%2F2015%2F0130%2Fsoc_g_mueller11_1296x729.jpg")
        .col-6
          table(class="table table-striped table-bordered small")
            thead
              tr
                th(scope="col") Contestant
                th(scope="col") Goals
                th(scope="col") Group
                th(scope="col") Quarters
                th(scope="col") Semis
                th(scope="col") Finals
                th(scope="col") Winner
                th(scope="col") Total
            tbody
            each val in standings
              tr
                td= val.name
                td= val.goals
                td= val.group
                td= val.quarter
                td= val.semis
                td= val.finals
                td= val.winner
                td= val.points
    .container
      .row
        .nothing
        each detail in details
          .col-2
            ul.list-group
            if detail.name == "Dan"
              li.list-group-item
                i.fas.fa-trash-alt
                | #{detail.name}
              each team in detail.salaries
                li.list-group-item 
                  small #{team.team} ($#{team.salary}) #{team.points}
            else
              li.list-group-item= detail.name
              each team in detail.salaries
                li.list-group-item 
                  small #{team.team} ($#{team.salary}) #{team.points}


